body {
  background-color: cornflowerblue;
  font-family: "Courier New", Courier, monospace;
}
.form {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 100px;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.input{
    width: 50%;
    display: block;
    border: none;
    color: black;
    font-size: 30px;
}
.input:focus {
    outline: none;
}

.submit{
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 12px 20px;
    cursor: pointer;
}

